/*  header start */

.classiq-header {
  margin-top: 27px;
  margin-bottom: 13px;
}
.navbar {
  justify-content: space-between;
  padding: 13px 0;
}

.left-navbar {
  display: flex;
  align-items: center;
}

.left-navbar-lione div {
  width: 49px;
  height: 49px;
  margin-right: 13px;
}

.left-navbar-litwo {
  font-family: Inter, sans-serif;
  font-size: 28px;
  line-height: 33.89px;
  font-weight: 700;
  color: #000000;
  margin-right: 66px;
}

.left-navbar-lithree {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #3e3e3e;
}

.right-navbar {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}

.right-navbar li:nth-child(1),
.right-navbar li:nth-child(2) {
  font-family: Inter, sans-serif;
  padding: 11px 26px;
  background-color: #000000;
  color: #ffffff;
  line-height: 21.78px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

/*  header end  */

/* bannerOne start */

.screenOne-banner {
  /* padding-top: 110px; */
  padding-top: 22px;
  padding-bottom: 45px;
  justify-content: space-between;
}
.screenOne-leftblock {
  /* display: flex;
  flex-direction: column; */
}
.paraOneWrapper {
  display: flex;
  flex-direction: column;
}
.para {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 68px;
  line-height: 82.8px;
  color: #000000;
}

.pencil-line {
  background-image: url("../images/Vector\ 3.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.paraTwoWrapper {
  margin-top: 26px;
}
.paraTwoWrapper p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(150, 152, 154, 1);
}
.explorBtn {
  width: 215px;
  height: 53px;
  padding: 10px 28px 9px 29px;
  border-radius: 8px;
  background-color: #c2f578;
  font-family: Poppins, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 34.2px;
  color: #000000;
  margin-top: 51px;
  text-align: center;
}

.screenOne-rightblock {
  max-width: 602px;
  margin-left: 8px;
  margin-right: -117px;
  /* padding-right: 21px; */
  /* display: inline-block; */
}

.imgwrapper-screenOne {
  width: 602px;
  height: 606px;
  z-index: 1000;
  position: relative;
}

.mgwrapper-screenOne img {
  width: 100%;
}
/* .rightblock-wrapper {
  display: flex;
  justify-content: space-between;
} */

.screenimg-three {
  top: 41%;
  left: 55%;
  position: absolute;
  width: 422px;
  height: 324px;
  border: 1px;
  opacity: 0px;
}
.screenimg-four {
  width: 422px;
  height: 324px;
  border: 1px;
  top: 36%;
  left: 65%;
  transform: rotate(271deg);
  position: absolute;
}

/* bannerOne end */

/* Trusted companies start */
.trusted-customers {
  flex-direction: column;
  margin-top: 115px;
}
.trusted-para,
.certified-para {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 44.8px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(86, 86, 86, 1);
}

.trusted-logoWrapper {
  padding-top: 43px;
  display: flex;
  gap: 79px;
  align-items: center;
  padding-bottom: 145px;
}
/* Trusted companies end */

/* certified-cources start */
.certified-cources {
  flex-direction: column;
}

.certified-mainwrapper {
  padding: 89px 0;
  display: flex;
  gap: 95px;
}
/* .certified-para {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 44.8px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(86, 86, 86, 1);
} */

.cources-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 333px;
  height: 288px;
  border-radius: 31px;
  background-color: rgba(236, 237, 239, 1);
}

.cources-imgwrapper {
  /* width: 50px;
  height: 50px; */
}

.cources-para {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(55, 54, 54, 1);
  margin-top: -22px;
}
.viewCourceBtn {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: rgba(194, 245, 120, 1);
  padding: 11px 22px;
  border-radius: 8px;
  margin-top: 21px;
  margin-bottom: 50px;
}
/* certified-cources end */

/* solution banner start */

.solution-banner {
  gap: 110px;
  padding-top: 160px;
  /* padding-bottom: 377px; */
  padding-bottom: 255px;
}
.solutbanner-left-block {
  width: 548px;
  height: 517px;
  border-radius: 8px;
}

.solutbanner-right-block {
  display: flex;
  flex-direction: column;
  margin-top: -75px;
}

.solutbanner-para {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 64.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.solutbanner-solution-subwrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 17px;
  margin-left: -44px;
}

.solutbanner-solution-subwrapper:first-child() {
  margin-top: -20px;
}

.solutbanner-solution-wrapper {
  /* width: 50px;
    height: 50px; */
}
.solutbanner-solution-para {
  padding-bottom: 37px;
  margin-left: -38px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.solutbanner-btnWrpper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 229px;
  height: 69px;
  padding: 17px 52px 16px 26px;
  border-radius: 8px;
  background-color: rgba(194, 245, 120, 1);
  margin-top: -39px;
}

.solutbanner-img-btnWrpper {
  width: 25px;
  height: 22px;
}

.solutbannerBtn {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: rgba(62, 62, 62, 1);
}

/* solution banner  end */

/* signup form start */

.login-wrapper {
  width: 26%;
  background-color: rgba(236, 237, 239, 1);
  justify-content: center;
  padding: 47px 157px 33px 155px;
  margin-bottom: 200px;
}
.login-wrappe-paraOne {
  margin-bottom: 37px;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.signUp-Input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 31px;
}

.signUp-Input-wrapper input {
  width: 327px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 8px;
  color: rgba(0, 0, 0, 1);
  border: 2px solid black;
  padding: 8px;
}

.login-wrapper-btn {
  padding: 11px 131px;
  border-radius: 8px;
  width: 327px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  background-color: rgba(194, 245, 120, 1);
  margin-bottom: 66px;
}
.login-wrapper-paraTwo {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  cursor: pointer;
}
/* signup form end */

/*  screenTwo-bannerTwo start*/

.screenTwo-bannerTwo {
  background: url("../images/scrren-banner/Group\ 2831.png");
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: bottom;
  height: 391px;
  background-color: #ecedef;
  align-items: flex-start;
  margin-bottom: 200px;
}

.screenTwo-bannerTwo p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  padding-top: 64px;
  padding-left: 53px;
}

/* screenTwo-bannerTwo end */

/* screenTwo-screenTwoAll  start*/
.screenTwo-screenTwoAll {
  margin-bottom: 200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.screenTwo-screenTwoAll-paraWrapper {
  display: flex;
  gap: 11px;
  align-items: center;
}

.screenTwo-screenTwoAll-paraWrapper p {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.screenTwo-AllBlockWrapper {
  display: flex;
  gap: 93px;
  flex-wrap: wrap;
}

.screenTwo-BlockAll {
  width: 334px;
  height: 273px;
  border-radius: 23px;
  background-color: rgba(236, 237, 239, 1);
}
/* screenTwo-screenTwoAll end */

/*  classiq-footer start */
.classiq-footer {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.classiq-footer-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid lightgray;
}

.classiq-footer-leftblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.classiq-footer-logo-wrapper {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.classiq-footer-imgwrapper {
  width: 49px;
  height: 49px;
  margin-right: 13px;
}

.classiq-footer-paraOne {
  font-family: Poppins, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 34.2px;
  color: #000000;
  margin-bottom: 5px;
}

.classiq-footer-paraTwo {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(150, 152, 154, 1);
  margin-bottom: 15px;
}

.classiq-footer-emailwrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  width: 436px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.classiq-footer-emailwrapper input {
  padding-left: 13px;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(150, 152, 154, 1);
}

.classiq-footer-emailBtn {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: rgba(62, 62, 62, 1);
  border-radius: 8px;
  padding: 6px 23px;
  background-color: rgba(194, 245, 120, 1);
}

.classiq-footer-rightblock {
  display: flex;
  gap: 200px;
}

.classiq-footer-rightblock-classiqBussines,
.classiq-footer-rightblock-careers {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(150, 152, 154, 1);
}
.classiq-footer-rightblock-classiqBussines li:nth-child(1) {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}
.classiq-footer-rightblock-careers li:nth-child(1) {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}
/* .classiq-footer-rightblock-careers {
  display: flex;
  flex-direction: column;
  gap: 22px;
} */

.classiq-footer-subBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.classiq-footer-subblockleft {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 34.2px;
  /* color: rgba(150, 152, 154, 1); */
  color: rgb(29, 0, 0);
}
.classiq-footer-subblockleft-para {
}

.classiq-footer-subblockright {
  display: flex;
  gap: 25px;
}
.classiq-footer-subblockright div {
  width: 50px;
}
.classiq-footer-subblockright div:nth-child(2) {
  width: 45px;
}
.classiq-footer-subblockright div:nth-child(3) {
  width: 48px;
}

/* classiq-footer end */
